<div class="container">
  <div class="row">
    <div class="col-10 align-bottom">
      <h1>New <%= @locus['locus_type'] %> Locus in <%= @field %>.<%= @square %></h1>
    </div>
    <div class="col-2 align-bottom">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
          <li class="breadcrumb-item"><%= link_to "Field #{@field}", field_squares_path(@field) %></li>
          <li class="breadcrumb-item"><%= link_to "Square #{@square}", field_square_loci_path(@field, @square) %></li>
          <li class="breadcrumb-item active" aria-current="page">New Locus in <%= @field %>.<%= @square %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<%= form_with(url: field_square_loci_path(@field, @square), method: 'post', local: true, id: 'locus_form') do |locus_form| %>
  <input type="hidden" id="locus[locus_type]" name="locus[locus_type]" value="<%= @locus['locus_type'] %>">
  <%= render 'form', locus_form: locus_form %>
<% end %>

<%= render 'shared/navigation_safety' %>